@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@font-face{
  src: url(/public/fonts/Rawkbrush.otf);
  font-family: 'BrushFont';
}

:root {
  --TextColor: black;
  --BackgroundColor: white;
  --GalaxyGradient: linear-gradient(90deg, rgba(0,100,102,1) 0%, rgba(6,90,96,1) 10%, rgba(11,82,91,1) 20%, rgba(20,69,82,1) 30%, rgba(27,58,75,1) 40%, rgba(33,47,69,1) 50%, rgba(39,38,64,1) 60%, rgba(49,34,68,1) 70%, rgba(62,31,71,1) 80%, rgba(77,25,77,1) 90%);
  --BodyFont: 'Poppins', sans-serif;
  --BrushFont: 'BrushFont';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--BackgroundColor);
  font-family: var(--BodyFont);
  }

section {
  height: 100vh;
/*   background-color: red; */
}
section#header {
  background-image: var(--GalaxyGradient);
}
section#header div#title {
  clip-path: polygon(40% 0, 100% 0%, 60% 100%, 0% 100%);
  height: 100vh;
  width: 100vw;
  padding: 2vh;
  background-color: var(--BackgroundColor);
}
section#header div#title h1 {
  font-family: var(--BrushFont);
  color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
/*   mix-blend-mode: screen; */
}
footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}
